<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.psc.BoardMapper.xml.mapper.BoardMapper">

    <!-- 전체 게시글 조회 -->
    <select id="selectAll" resultType="com.psc.BoardMapper.xml.dto.BoardDTO">
        SELECT * FROM tbl_board
    </select>

    <!-- 게시글 등록 -->
    <insert id="insertBoard" parameterType="com.psc.BoardMapper.xml.dto.BoardDTO">
        INSERT INTO tbl_board (title, author, content)
        VALUES (#{title}, #{author}, #{content})
    </insert>

    <!--    -->
    <select id="selectBoardByNum" resultType="BoardDTO">
        SELECT *
        FROM tbl_board
        WHERE BNO=#{bno}
    </select>
    <!--    -->
    <update id="updateBoard">
        UPDATE tbl_board
        SET title=#{title}, author=#{author}, content=#{content}
        WHERE bno=#{bno}
    </update>

    <!--    -->
    <delete id="deleteBoard">
        DELETE
        FROM tbl_board
        WHERE BNO=#{bno}
    </delete>
</mapper>