<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psc.springexam02.mapper.board.BoardStatusMapper">
   <select id="selectBoardStatus" resultType="com.psc.springexam02.dto.board.BoardStatusDTO">
       SELECT
           readcount,
           likecount,
           commentcount,
           dislikecount
       FROM board
       WHERE num=#{num}
   </select>
</mapper>