<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psc.springexam02.mapper.CommentMapper">
    <insert id="insertComment">
        insert into comment (bnum, userid, message, password) values(#{bnum}, #{userid}, #{message}, #{password})
    </insert>
    <select id="showComments" resultType="com.psc.springexam02.dto.CommentDTO">
        select * from comment where bnum=#{bnum} order by regdate
    </select>
    <delete id="deleteComment">
        delete from comment where cnum=#{cnum}
    </delete>
    <select id="showComment" resultType="com.psc.springexam02.dto.CommentDTO">
        SELECT * FROM comment
        WHERE cnum=#{cnum}
    </select>
    <update id="updateComment">
        update comment set userid=#{userid}, message=#{message}, updatedate=now() where cnum=#{cnum}
    </update>
    <delete id="deleteAllComments">
        DELETE
        FROM comment
        WHERE bnum=#{num}
    </delete>
    <update id="updateCommentCount">
        UPDATE board
        SET commentcount = commentcount + #{amount}
        WHERE num = #{bnum}
    </update>
</mapper>